<!doctype html>
<html lang="en" data-ng-app="client">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet" />

	<title>OptionsClient</title>
</head>
<body class="container">
	<header class="page-header text-center">
        <h1>Options Client</h1>
    </header>
<!-- header -->

    <div data-ng-controller="ctrl">
        <div class="wrapper row">
            <div class="col-md-4 tab active" data-ng-click="url = 'forms/register.html'">Register</div>
            <div class="col-md-4 tab"        data-ng-click="url = 'forms/signin.html'">Sign In</div>
            <div class="col-md-4 tab"        data-ng-click="url = 'forms/choice.html'">Make a Choice</div>
        </div>
        <br />
        <!-- nav -->
        <div class="view">
            <div data-ng-include=url></div>
        </div>
        <!-- view -->

        <div id="message"></div>
    </div>
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- AngularJS --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.js"></script>
<!-- Angular Resource -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-resource.js"></script>
<!-- Angular Sanitize -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-sanitize.js"></script>-->
<!-- Custom JS -->
<script src="js/main.js"></script>
</body>
</html>
